* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

a { color: inherit; } 

/* link que ainda não foi visitado */
a:link {
   color: white;
}

/* link que foi visitado */
a:visited {
    color: white;
}

/* link selecionado */
a:active {
    color: white;
}

:root {
    --bg-blue: #0a369d;
}

body {
    font-family: 'Quicksand'; 
    background-color: var(--bg-blue);
}

body header h1 {
    text-align: center;
    font-size: 3rem;

    margin: 1rem 0 1rem 0;

    color: white;
}

body header img {
    width: 7rem;
    
    display: flex;
    align-self: center;
    justify-content: center;

    margin: 3rem auto 5rem auto;
}

body main button {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 2rem auto 0 auto;

    padding: 1rem 5rem;

    max-width: 13rem;

    border-radius: 5px;

    cursor: pointer;
}

body main button#btn-1 {
    background-color: #4472CA;
    border: none;

    font-size: 25px;

    font-weight: 700;
    color: white
}

body main button#btn-2 {
    border: 2px solid white;
    background-color: #0A369D;

    font-size: 25px;

    color: white;
    font-weight: 700;
}